<launch>
  <arg name="rvizconfig" default="$(find adamr2_slam)/rviz/gmapping.rviz" />

  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" clear_params="true">
    <rosparam file="$(find adamr2_slam)/config/gmapping/gmapping.yml" command="load"/>
  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true"/>
</launch>