<launch>
  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" clear_params="true">
    <rosparam command="load" file="$(find adamr2_slam)/config/gmapping.yml" />
    <param name="base_frame" value="base_footprint" />
    <param name="odom_frame" value="odom" />
    <param name="map_frame"  value="map" />
  </node>
</launch>