<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="lrf" params="prefix parent *joint_origin">
    <joint name="${prefix}_lrf_joint" type="fixed">
      <xacro:insert_block name="joint_origin"/>
      <parent link="${parent}"/>
      <child link="${prefix}_lrf_link"/>
    </joint>

    <link name="${prefix}_lrf_link">
      <visual>
        <geometry>
          <mesh filename="package://nitic_description/meshes/LRF.STL"/>
        </geometry>
        <material name="blue">
          <color rgba="0.0 0.0 1.0 1.0"/>
        </material>
      </visual>
    </link>
  </xacro:macro>
</robot>