<launch>
  <arg name="device"   default="/dev/ttyUSB0"/>
  <arg name="baudrate" default="115200"/>
  <arg name="frame_id" default="lidar_link"/>
  <arg name="inverted" default="false"/>
  <arg name="angle_compensate"  default="true"/>

  <node name="rplidarNode" pkg="rplidar_ros" type="rplidarNode" output="screen">
    <param name="serial_port"      type="string" value="$(arg device)"/>
    <param name="serial_baudrate"  type="int"    value="$(arg baudrate)"/>
    <param name="frame_id"         type="string" value="$(arg frame_id)"/>
    <param name="inverted"         type="bool"   value="$(arg inverted)"/>
    <param name="angle_compensate" type="bool"   value="$(angle_compensate)"/>
  </node>
</launch>