<launch>
  <arg name="rvizconfig" default="$(find adamr2_slam)/rviz/gmapping.rviz" />
  <arg name="situation"/> <!--`real` or `sim`-->
  <arg name="environment" default="indoor"/>

  <node pkg="slam_toolbox" type="sync_slam_toolbox_node" name="slam_toolbox" output="screen">
    <rosparam file="$(find adamr2_slam)/config/$(arg situation)/slam_toolbox_$(arg environment).yml" command="load"/>
  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true"/>
</launch>