<launch>
  <arg name="model" default="$(find adamr2_description)/urdf/robot_sim.xacro"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch"/>

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)"/>

  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false"
        output="screen" args ="-urdf -model nitic_robot -param robot_description"/>

  <include file="$(find adamr2_control)/launch/adamr2_control_sim.launch"/>
</launch>