<launch>
  <arg name="model" default="$(find adamr2_description)/urdf/robot_sim.xacro"/>

  <!-- Open empty gazebo world -->
  <include file="$(find gazebo_ros)/launch/willowgarage_world.launch"/>

  <!-- Register the urdf to robot_description parameter -->
  <param name="robot_description" command="$(find xacro)/xacro $(arg model)"/>

  <!-- Spawn the robot model to empty world -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false"
        output="screen" args ="-urdf -model adamr2 -param robot_description"/>

  <!-- Launch controller for simulation -->
  <include file="$(find adamr2_control)/launch/adamr2_control_sim.launch"/>
</launch>