<launch>
  <!-- Arguments for each nodes -->
  <arg name="frame_id" default="map"/>
  <arg name="map_file" default="$(env HOME)/adamr2_experiments/simulation/slam/20201023/exp1/map/map.yaml"/>

  <arg name="amcl_param_file" default="$(find adamr2_navigation)/config/amcl/amcl.yml"/>

  <arg name="rvizconfig" default="$(find adamr2_navigation)/rviz/adamr2_navigation.rviz" />

  <!-- MAP SERVER -->
  <include file="$(find adamr2_navigation)/launch/map_server.launch">
    <arg name="frame_id" value="$(arg frame_id)"/>
    <arg name="map_file" value="$(arg map_file)"/>
  </include>

  <!-- AMCL -->
  <include file="$(find adamr2_navigation)/launch/amcl.launch">
    <arg name="amcl_param_file" value="$(arg amcl_param_file)"/>
  </include>

  <!-- Rviz -->
  <node name="rviz" pkg="rviz" type="rviz" required="true" args="-d $(arg rvizconfig)" />
</launch>
