<launch>
  <!-- MAP SERVER -->
  <arg name="map_file" default="$(env HOME)/experiment_map/large_map/map.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)">
    <param name="frame_id" value="map" />
  </node>

  <!-- AMCL -->
  <include file="$(find adamr2_navigation)/launch/amcl_diff.launch"/>

  <!-- MOVE BASE -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <!-- COST MAP -->
    <rosparam file="$(find adamr2_navigation)/config/costmap/local_costmap.yml"/>
    <rosparam file="$(find adamr2_navigation)/config/costmap/global_costmap.yml"/>

    <!-- BASE GLOBAL PLANNER -->
    <rosparam file="$(find adamr2_navigation)/config/planner/global/navfn_planner.yml" command="load" />
    <!-- BASE LOCAL PLANNER -->
    <rosparam file="$(find adamr2_navigation)/config/planner/local/trajectory_planner.yml" command="load" />

    <!-- MOVE BASE -->
    <rosparam file="$(find adamr2_navigation)/config/move_base.yml" command="load"/>

    <!-- remap topic name for adamr2 -->
    <remap from="cmd_vel" to="/adamr2/diff_drive_controller/cmd_vel"/>
    <remap from="odom" to="/adamr2/diff_drive_controller/odom"/>
  </node>

  <node name="rviz" pkg="rviz" type="rviz" required="true" args="-d $(find adamr2_navigation)/rviz/navigation.rviz" />
</launch>
