<launch>
  <!-- Select experiment situation-->
  <!-- `real` or `sim-->
  <arg name="situation" default=""/>

  <!--
    Path to the map file(.yaml) for map_server node.
    When execute this launch file, it's useful to move the directory
    where the map.yaml file is located and enter as follows:
      map_file:=`pwd`/map.yaml
  -->
  <arg name="map_file" default=""/>

  <!-- Select experiment environment-->
  <!-- `indoor` or `outdoor`-->
  <arg name="environment" default=""/>

  <!-- Arguments for each nodes -->
  <arg name="frame_id" default="map"/>

  <arg name="amcl_param_file" default="$(find adamr2_navigation)/config/$(arg situation)/$(arg environment)/amcl/amcl.yml"/>

  <arg name="global_costmap_param_file" default="$(find adamr2_navigation)/config/$(arg situation)/$(arg environment)/costmap/global_costmap.yml"/>
  <arg name="local_costmap_param_file"  default="$(find adamr2_navigation)/config/$(arg situation)/$(arg environment)/costmap/local_costmap.yml"/>
  <arg name="global_planner_param_file" default="$(find adamr2_navigation)/config/$(arg situation)/$(arg environment)/planner/global/global_planner.yml"/>
  <arg name="local_planner_param_file"  default="$(find adamr2_navigation)/config/$(arg situation)/$(arg environment)/planner/local/trajectory_planner.yml"/>
  <arg name="move_base_param_file"      default="$(find adamr2_navigation)/config/$(arg situation)/$(arg environment)/move_base.yml"/>

  <arg name="rvizconfig" default="$(find adamr2_navigation)/rviz/adamr2_navigation.rviz" />

  <!-- following nodes will only be executed if arg `situation`, arg `environment`, or arg 'map_file' is not seted.-->
  <group unless="$(eval situation=='' or environment=='' or map_file=='')">
    <!-- MAP SERVER -->
    <include file="$(find adamr2_navigation)/launch/map_server.launch">
      <arg name="frame_id" value="$(arg frame_id)"/>
      <arg name="map_file" value="$(arg map_file)"/>
    </include>

    <!-- AMCL -->
    <include file="$(find adamr2_navigation)/launch/amcl.launch">
      <arg name="amcl_param_file" value="$(arg amcl_param_file)"/>
    </include>

    <!-- MOVE BASE -->
    <include file="$(find adamr2_navigation)/launch/move_base.launch">
      <arg name="global_costmap_param_file" value="$(arg global_costmap_param_file)"/>
      <arg name="local_costmap_param_file"  value="$(arg local_costmap_param_file)"/>
      <arg name="global_planner_param_file" value="$(arg global_planner_param_file)"/>
      <arg name="local_planner_param_file"  value="$(arg local_planner_param_file)"/>
      <arg name="move_base_param_file"      value="$(arg move_base_param_file)"/>
    </include>

    <!-- Rviz -->
    <node name="rviz" pkg="rviz" type="rviz" required="true" args="-d $(arg rvizconfig)" />
  </group>
</launch>