<launch>
  <!-- ARGS -->
  <arg name="frame_id" default="map"/>
  <arg name="map_file" default="$(env HOME)/experiment_map/large_map/map.yaml"/>

  <arg name="amcl_param_file" default="$(find adamr2_navigation)/config/amcl/amcl.yml"/>

  <arg name="global_costmap_param_file" default="$(find adamr2_navigation)/config/costmap/global_costmap.yml"/>
  <arg name="local_costmap_param_file"  default="$(find adamr2_navigation)/config/costmap/local_costmap.yml"/>
  <arg name="global_planner_param_file" default="$(find adamr2_navigation)/config/planner/global/navfn_planner.yml"/>
  <arg name="local_planner_param_file"  default="$(find adamr2_navigation)/config/planner/local/trajectory_planner.yml"/>
  <arg name="move_base_param_file"      default="$(find adamr2_navigation)/config/move_base.yml"/>

  <!-- MAP SERVER -->
  <include file="$(find adamr2_navigation)/launch/map_server.launch">
    <arg name="frame_id" value="$(arg frame_id)"/>
    <arg name="map_file" value="$(arg map_file)"/>
  </include>

  <!-- AMCL -->
  <include file="$(find adamr2_navigation)/launch/amcl.launch">
    <arg name="amcl_param_file" value="$(arg amcl_param_file)"/>
  </include>

  <!-- MOVE BASE -->
  <include file="$(find adamr2_navigation)/launch/move_base.launch">
    <arg name="global_costmap_param_file" value="$(arg global_costmap_param_file)"/>
    <arg name="local_costmap_param_file"  value="$(arg local_costmap_param_file)"/>
    <arg name="global_planner_param_file" value="$(arg global_planner_param_file)"/>
    <arg name="local_planner_param_file"  value="$(arg local_planner_param_file)"/>
    <arg name="move_base_param_file"      value="$(arg move_base_param_file)"/>
  </include>

  <node name="rviz" pkg="rviz" type="rviz" required="true" args="-d $(find adamr2_navigation)/rviz/navigation.rviz" />
</launch>
