<!-- MAP SERVER -->
<launch>
  <arg name="frame_id" default="map"/>
  <arg name="map_file" default=""/>

  <!-- If map_file is not specified, map_server node will not be started-->
  <group unless="$(eval map_file=='')">
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)">
      <param name="frame_id" value="$(arg frame_id)"/>
    </node>
  </group>
</launch>
