<launch>
  <arg name="model" default="$(find adamr2_description)/urdf/robot.xacro"/>
  <arg name="ypspur_params" default="$(find adamr2_control)/config/adamr2.param"/>
  <arg name="ypspur_dev" default="/dev/ttyACM0"/>

  <include file="$(find adamr2_control)/launch/adamr2_controller.launch">
    <arg name="model" value="$(arg model)"/>
    <arg name="ypspur_params" value="$(arg ypspur_params"/>
    <arg name="ypspur_dev" value="$(arg ypspur_dev"/>
  </include>
</launch>